Repository numman-ali/cc-mirror: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: npx prettier --check {staged_files}
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint {staged_files}
    typecheck:
      run: npm run typecheck
    coverage:
      run: npm run test:coverage

pre-push:
  commands:
    test:
      run: npm run test:coverage

fix: escape regex special characters in team-mode-patch fnName
  src/core/variant-builder/team-mode-patch.ts
Due: format, lint

1.6.7
  package-lock.json
  package.json
Due: format

fix: remove ./ prefix from bin path
  package.json
Due: format

fix: Restore ESC key handling in DiagnosticsScreen
  src/tui/screens/DiagnosticsScreen.tsx
Due: format, lint

feat: Integrate ccstatusline as a top-level menu option
  package.json
  src/tui/app.tsx
  src/tui/screens/DiagnosticsScreen.tsx
  src/tui/screens/HomeScreen.tsx
  src/tui/screens/MultiVariantSelector.tsx
  src/tui/screens/StatusLineConfigScreen.tsx
  src/tui/screens/StatusLineMainMenu.tsx
  src/tui/screens/StatusLineQuickInstall.tsx
  src/tui/screens/index.ts
Due: format, lint

fix: constrain provider list viewport
  README.md
  src/cli/help.ts
  src/providers/index.ts
  src/tui/components/ui/Menu.tsx
  src/tui/content/providers.ts
  src/tui/screens/ProviderSelectScreen.tsx
Due: format, lint

test: Add coverage tests for StatusLine and UI components
  test/tui/AboutScreen.test.ts
  test/tui/MultiVariantSelector.test.ts
  test/tui/ProviderSelectScreen.test.ts
  test/tui/StatusLineConfigScreen.test.ts
  test/tui/StatusLineQuickInstall.test.ts
Due: format, lint

ui: clarify provider list colors
  src/tui/app.tsx
  src/tui/components/ui/Menu.tsx
  test/tui.test.ts
  test/tui/App.integration.test.ts
Due: format, lint

feat(providers): add Poe provider integration
  src/brands/index.ts
  src/brands/poe.ts
  src/core/wrapper.ts
  src/providers/index.ts
  test/e2e/providers.ts
  test/unit/brands/index.test.ts
  test/unit/brands/poe.test.ts
  test/unit/providers/poe.test.ts
Due: format, lint

fix(poe): add noPromptPack flag and fix duplicate verb
  src/brands/poe.ts
  src/providers/index.ts
Due: format, lint

docs: add Poe to provider comparison table
  docs/features/mirror-claude.md
Due: none

feat: improve CLI ergonomics
  src/cli/commands/create.ts
  src/cli/commands/doctorCmd.ts
  src/cli/commands/list.ts
  src/cli/commands/update.ts
  src/cli/help.ts
  src/cli/utils/modelOverrides.ts
  test/cli/commands.test.ts
  test/cli/utils.test.ts
Due: format, lint

feat: default to latest + disable install checks
  scripts/preview-splash.mjs
  src/cli/commands/create.ts
  src/cli/help.ts
  src/core/constants.ts
  src/core/types.ts
  src/core/variant-builder/VariantUpdater.ts
  src/core/variant-builder/steps/FinalizeStep.ts
  src/core/variant-builder/steps/WriteConfigStep.ts
  src/core/variant-builder/update-steps/ConfigUpdateStep.ts
  src/core/variant-builder/update-steps/InstallNativeUpdateStep.ts
  src/tui/app.tsx
  src/tui/hooks/useVariantUpdate.ts
  src/tui/screens/VariantActionsScreen.tsx
  test/core.test.ts
  test/helpers/mock-core.ts
Due: format, lint

docs: document Claude Code version pinning
  README.md
Due: none

tui: model overrides + remove tweak action
  src/tui/app.tsx
  src/tui/hooks/useVariantCreate.ts
  src/tui/hooks/useVariantUpdate.ts
  src/tui/router/routes.ts
  src/tui/router/useEscapeNavigation.ts
  src/tui/screens/ModelConfigScreen.tsx
  src/tui/screens/VariantActionsScreen.tsx
  src/tui/state/types.ts
  src/tui/state/useAppState.ts
  test/tui/VariantActionsScreen.test.ts
  test/tui/hooks.test.ts
Due: format, lint

tui: quick models parity + configure models for all
  src/tui/app.tsx
  src/tui/screens/VariantActionsScreen.tsx
  test/tui/App.integration.test.ts
Due: format, lint

feat: add Kimi Code provider + theme
  README.md
  docs/README.md
  docs/architecture/overview.md
  scripts/preview-splash.mjs
  src/brands/index.ts
  src/brands/kimi.ts
  src/cli/help.ts
  src/core/wrapper.ts
  src/providers/index.ts
  src/tui/content/providers.ts
  test/cli/help.test.ts
  test/e2e/ascii-art.test.ts
  test/e2e/providers.ts
  test/provider-matrix.test.ts
Due: format, lint

fix: preserve long pasted API keys in TUI
  src/tui/components/ui/Input.tsx
  test/tui/Input.test.ts
Due: format, lint

test: stabilize TUI remove flow
  test/tui.test.ts
Due: format, lint

chore: normalize variant meta; docs: provider system + tweakcc inventory
  README.md
  docs/TWEAKCC-GUIDE.md
  docs/architecture/provider-system.md
  src/core/variant-builder/update-steps/FinalizeUpdateStep.ts
  test/core/variant-meta-sanitize.test.ts
Due: format, lint

Align provider ordering and Z.ai model parity
  README.md
  docs/README.md
  docs/features/mirror-claude.md
  src/cli/help.ts
  src/providers/index.ts
  src/tui/app.tsx
  src/tui/content/education.ts
  src/tui/content/providers.ts
  src/tui/screens/ModelConfigScreen.tsx
  test/provider-matrix.test.ts
Due: format, lint

Align tweakcc v4 config defaults and manual variant workflow
  docs/TWEAKCC-GUIDE.md
  src/brands/ccrouter.ts
  src/brands/gatewayz.ts
  src/brands/kimi.ts
  src/brands/minimax.ts
  src/brands/mirror.ts
  src/brands/miscDefaults.ts
  src/brands/nanogpt.ts
  src/brands/ollama.ts
  src/brands/openrouter.ts
  src/brands/types.ts
  src/brands/vercel.ts
  src/brands/zai.ts
  src/core/constants.ts
  src/core/errors.ts
  test/tweakcc-error.test.ts
Due: format, lint

fix: remove tweakcc toolsets; enforce provider denies via settings
  docs/TWEAKCC-GUIDE.md
  src/brands/ccrouter.ts
  src/brands/gatewayz.ts
  src/brands/index.ts
  src/brands/kimi.ts
  src/brands/minimax.ts
  src/brands/mirror.ts
  src/brands/nanogpt.ts
  src/brands/ollama.ts
  src/brands/openrouter.ts
  src/brands/types.ts
  src/brands/vercel.ts
  src/brands/zai.ts
  src/core/claude-config.ts
  src/core/variant-builder/steps/BrandThemeStep.ts
  src/core/variant-builder/update-steps/ConfigUpdateStep.ts
  test/e2e/blocked-tools.test.ts
Due: format, lint

fix: migrate legacy tweakcc toolsets out of variants
  src/core/tweakcc.ts
Due: format, lint

Align model mapping defaults and update MiniMax branding
  README.md
  docs/README.md
  docs/features/mirror-claude.md
  src/cli/help.ts
  src/core/variant-builder/update-steps/ModelOverridesStep.ts
  src/core/wrapper.ts
  src/providers/index.ts
  src/tui/content/education.ts
  src/tui/content/providers.ts
  src/tui/screens/ModelConfigScreen.tsx
  test/core.test.ts
  test/e2e/ascii-art.test.ts
  test/provider-matrix.test.ts
Due: format, lint

feat: adaptive diff palette for all brand themes
  src/brands/ccrouter.ts
  src/brands/diffPalette.ts
  src/brands/gatewayz.ts
  src/brands/kimi.ts
  src/brands/minimax.ts
  src/brands/mirror.ts
  src/brands/nanogpt.ts
  src/brands/ollama.ts
  src/brands/openrouter.ts
  src/brands/vercel.ts
  src/brands/zai.ts
Due: format, lint

Harden provider setup UX and darken diff themes
  README.md
  docs/README.md
  docs/architecture/provider-system.md
  src/brands/gatewayz.ts
  src/brands/openrouter.ts
  src/brands/vercel.ts
  src/core/tweakcc.ts
  src/tui/screens/ApiKeyScreen.tsx
  test/core/tweakcc.test.ts
  test/tui/ApiKeyScreen.test.ts
Due: format, lint

fix(theme): improve dark diff readability and enforce dark brand defaults
  package-lock.json
  package.json
  src/brands/ccrouter.ts
  src/brands/diffPalette.ts
  src/brands/index.ts
  src/brands/ollama.ts
  test/core/brand-themes.test.ts
Due: format, lint

fix(theme): use dark theme ID for Rust native module compatibility
  src/brands/ccrouter.ts
  src/brands/diffPalette.ts
  src/brands/gatewayz.ts
  src/brands/index.ts
  src/brands/kimi.ts
  src/brands/minimax.ts
  src/brands/mirror.ts
  src/brands/nanogpt.ts
  src/brands/ollama.ts
  src/brands/openrouter.ts
  src/brands/vercel.ts
  src/brands/zai.ts
  src/cli/commands/create.ts
  src/core/tweakcc.ts
  src/providers/index.ts
  src/tui/app.tsx
  test/core.test.ts
  test/core/tweakcc.test.ts
  test/e2e/providers.ts
Due: format, lint

feat: provider cleanup, color swap, and splash grid
  scripts/preview-splash-grid.mjs
  scripts/preview-splash.mjs
  src/brands/index.ts
  src/brands/kimi.ts
  src/brands/nanogpt.ts
  src/brands/openrouter.ts
  src/cli/help.ts
  src/core/wrapper.ts
  src/providers/index.ts
  src/tui/content/providers.ts
  src/tui/screens/FeedbackScreen.tsx
  src/tui/screens/ModelConfigScreen.tsx
  src/tui/screens/RouterUrlScreen.tsx
  test/core/tweakcc.test.ts
  test/e2e/ascii-art.test.ts
  test/e2e/providers.ts
Due: format, lint

docs: update all documentation for v2.0.0 release
  AGENTS.md
  CHANGELOG.md
  DESIGN.md
  README.md
  docs/architecture/overview.md
  docs/architecture/provider-system.md
  docs/features/mirror-claude.md
Due: none

Refocus README on providers and wizard-first experience
  README.md
Due: none

Fix Windows variant creation, PATH updates, and positional names
  src/cli/commands/create.ts
  src/core/index.ts
  src/core/tweakcc.ts
  src/core/variant-builder/steps/WrapperStep.ts
  src/core/variant-builder/update-steps/WrapperUpdateStep.ts
  src/core/windows-path.ts
  test/cli/create-command.test.ts
  test/core/tweakcc-command.test.ts
Due: format, lint

docs: fix Windows PATH tips + lint
  README.md
  docs/architecture/overview.md
  docs/features/mirror-claude.md
  scripts/preview-splash-grid.mjs
Due: none

test(windows): cover tweakcc npx.cmd invocation
  test/core/tweakcc-windows-exec.test.ts
Due: format, lint

test: cover tweakcc async invocation + create flow
  test/core/create-with-tweakcc-stub.test.ts
  test/core/tweakcc-windows-async-exec.test.ts
Due: format, lint

ci: add Windows dist smoke test on PRs
  .github/workflows/ci.yml
  src/core/paths.ts
  test/core/paths.test.ts
Due: format, lint

chore(release): v2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: format
